<div class="content" (click)="homecontent">
    <div class="heading">
        <h2>Welcome to jala academy</h2>
    </div>
    <div class="para">
        <p>Do you want to Learn Selenium Automation completely with Practical Scenarios in 7 Days?</p>
    </div>
    <div class="link">
        <p>You Learn Everything by doing projects if you are very serious to get a software job in 60 days contact us :
             <a href="http://jalatechnologies.com/contact-us.html">http://jalatechnologies.com/contact-us.html</a>
        </p>
    </div>
    <div class="salary">
        <div class="yelow">
            <p>For working people can double the salary in 60 Days</p>
        </div>
    </div>
</div>