mat-sidenav-content{
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.searchemployee{
    background-color: #f1f3f5;
    height: 100vh;
    border-top: 4px solid skyblue;
}
.seachscreen{
    display: flex;
    gap:10px;
    font-size: 20px;
    justify-content: flex-start;
}
.message{
  display: inline-block;
  justify-items: end;
  text-align: end;
  background-color: green;
  color: #fff;
  justify-content: end;
}
.message
.Msg{
  float: left
}
.inputs{
    padding: 10px;
}
button{
    background-color: #0b7285;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
  }
button:hover{
   background-color:#15aabf;
   color: black;
}
.table {
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  thead {
    background-color: #51cf66;
    color: #fff;
  }
  thead th {
    text-align: center;
    padding: 12px;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
@media (max-width: 1200px) {
  table {
    width: 100%;
    max-width: 100%;
  }
  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
  }

  table tbody td {
    display: block;
    text-align: left;
  }

  table tbody tr + tr {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  table {
    width: 100%;
    max-width: 100%;
  }
  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
  }

  table tbody td {
    display: block;
    text-align: left;
  }

  table tbody tr + tr {
    margin-top: 1rem;
  }
}


  