<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="admin">
    <div class="containerbx">
        <div class="login-form">
            <h2>Magnus</h2>
            <div class="input-container">
                <h3>Admin-Sign in</h3>
                <div class="error-message" style="color: red;" *ngIf="error">{{ error }}</div>
             <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
                <div class="input-group">
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                  </div>
                  <input type="email" placeholder="Enter your Email" required formControlName="email">
              </div>
              <div class="input-group">
                  <div class="icon">
                      <i class="fas fa-lock"></i>
                  </div>
                  <input type="password" placeholder="Enter your Password" required formControlName="password">
              </div>
              <div class="sign">
                  <a routerLink="/">Back</a>
                  <button mat-button style="background-color: green;color: #fff;" (click)="onSubmit()">SignIn</button>
              </div>
             </form>
            </div> 
        </div>
        <footer>
            <p>JALA Technologies offers Job Guaranteed Programs for Freshers to 10 years’ experience
                on JAVA/.Net / Automation Testing / Dev-Ops / Middleware Technologies / WebLogic / JBoss / Tomcat / Python/AI/DataScience and for those who want to be a software engineer in 90 Days. Contact Details: http://jalatechnologies.com/contact-us.html</p>
       </footer>
    </div>
    
</div>
           
        
