<div class="main-container">
    <h2>Tool tips</h2>
    <div class="menu"> 
        <button>Popups</button>
        <div class="lists">
        <div class="popup"><a href='open("https://www.google.com/")"'>Pop up one</a></div>
        <div class="popup"><a href="https://www.tutorialspoint.com/index.htm">Pop up Two</a></div>
        <div class="popup"><a  (click)="openPopupDuplicateWindow()" >Pop up Three</a></div>
        <div class="popup"><a href="#" target="_blank">Pop up Duplicate</a></div>
        <div class="popup"><a href="https://magnus.jalatechnologies.com/Account/Login" target="_blank">Duplicate tab</a></div>
        <div class="popup"><a (click)="openWindow()" >Window popup</a></div>
        <div class="popup"><a  (click)="alert()">Alert box</a></div>
        <div class="popup"><a (click)="openconfirm()">confirm box</a></div>
        <div class="popup"><a (click)="openPrompt()">Prompt box</a></div>
        </div>
        </div>
</div>