<div class="main-container">
    <h2>Iframes</h2>
    <div class="menu">
        <h3>Iframes</h3>
        <div class="frames">
            <div class="frameone">
                <p>Frame one</p>
            </div>
            <div class="frametwo">
                <p>Frame two</p>
                <iframe src="/homepage" frameborder="0" width="90%" height="400"> </iframe>
            </div>
            <div class="framethree">
                <p>Framethree</p>
                <div></div>
            </div>
        </div>
        
    </div>
</div>
